<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MORNARA Home</title>
</head>
<body>
    <h1>MedPNU 17</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi aspernatur quibusdam autem quas, dicta porro. Consequuntur id aspernatur vero qui eligendi. Commodi sequi laborum consequatur consequuntur minus cumque magni corporis!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, magni vel, nam sed labore, quod cupiditate ad autem ea esse delectus ut optio suscipit quia obcaecati voluptatem ipsam iste cumque!</p>
    <hr>
    <a href="/">Home</a>
    <a href="/academic">Academic</a>
    <a href="/member">Member</a>

    <footer>
        <p>adrmnq</p>
    </footer>
</body>
</html> 